@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200);
@import url(sticky-footer.less);

@body-background-color: #A8BBD1;
@body-foreground-color: #000000;
@custom-container-border-color: shade(@body-background-color, 25%);
@custom-container-background-color: tint(@body-background-color, 50%);
@custom-container-border: 1px solid @custom-container-border-color;
@custom-container-border-radius: 5px;

.standard-text() {
    font-family: 'Exo 2', sans-serif;
}

.custom-container() {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: @custom-container-border;
    background-color: @custom-container-background-color;
}

body {
    background-color: @body-background-color;
    color: @body-foreground-color;
}

h1 {
    font-weight: bold;
    .standard-text();
}

h2 {
    .standard-text();

    span {
        margin: 0 0.5em;
    }
}

blockquote {
    border-left-color: @custom-container-border-color;
    border-left-width: 1px;
}

footer {
    background-image: url("/Images/give-camp-bg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.panel {
    margin-top: 20px;
    text-align: left;
    border: @custom-container-border;
    background-color: @custom-container-background-color;

    .panel-heading {
        background-color: @custom-container-background-color;
        border-bottom-color: @custom-container-border-color;
    }
}

.main-container {
    text-align: center;
    padding-top: 20px;
}

.logo {
    padding: 5px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid darken(@body-background-color, 20%);
}

.register-button {
    margin-top: 20px;
}

.headspring-logo {
    background-color: #FFF;
    padding: @custom-container-border-radius * 2;
    border: @custom-container-border;
    border-radius: @custom-container-border-radius;
}